body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: rgb(225, 217, 217);

    font-family: 'roboto', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    margin-top: 50px;
}

.user-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 8px;
    margin-bottom: 5px;
}

.user-description {
    font-size: 16px;
    text-align: center;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: #167efe;
    margin: 0 10px;
    font-size: 18px;
}
